body{
    box-sizing: border-box;
}
header, main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

/* Header Styles */

header{
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../CV_Webside/imgs/BackgroundHeader.jpg);
    background-position: center;
    background-size: cover;
}
.top-of-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.title-and-socialmedia{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-of-header p{
    text-transform: uppercase;
    color: white;
}
.title-and-socialmedia p{
    background-color: white;
}
.top-of-header ul, .title-and-socialmedia ul{
    list-style-type: none;
    padding: 0;
}
.top-of-header li, .title-and-socialmedia li{
    display: inline;
    color: white;
    padding: 5px;
}

/* Main Styles */

main{
    height: 350px;
    background-color: red;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
main figure, .about-me{
    height: 100%;
    background-color: yellow;
    margin: 0;
}
main figure{
    width: 30%;
}
.about-me{
    display: inline;
    width: 70%;
    background-color: blueviolet;
}
.about-me article, .skill-bar{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
.about-me article{
    background-color: blue;
}
.skill-bar{
    background-color: brown;
}